body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u640 {
  position:absolute;
  left:2px;
  top:504px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u641 {
  position:absolute;
  left:240px;
  top:130px;
  width:1180px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u642 {
  position:absolute;
  left:2px;
  top:8px;
  width:1176px;
  word-wrap:break-word;
}
#u643 {
  position:absolute;
  left:240px;
  top:170px;
  width:1185px;
  height:262px;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u645 {
  position:absolute;
  left:2px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u646 {
  position:absolute;
  left:236px;
  top:0px;
  width:236px;
  height:41px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u647 {
  position:absolute;
  left:2px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u648 {
  position:absolute;
  left:472px;
  top:0px;
  width:236px;
  height:41px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u649 {
  position:absolute;
  left:2px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u650 {
  position:absolute;
  left:708px;
  top:0px;
  width:236px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u651 {
  position:absolute;
  left:2px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u652 {
  position:absolute;
  left:944px;
  top:0px;
  width:236px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u653 {
  position:absolute;
  left:2px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:216px;
}
#u654 {
  position:absolute;
  left:0px;
  top:41px;
  width:236px;
  height:216px;
  font-size:12px;
  text-align:center;
}
#u655 {
  position:absolute;
  left:2px;
  top:101px;
  width:232px;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:216px;
}
#u656 {
  position:absolute;
  left:236px;
  top:41px;
  width:236px;
  height:216px;
  font-size:12px;
  text-align:center;
}
#u657 {
  position:absolute;
  left:2px;
  top:101px;
  width:232px;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:216px;
}
#u658 {
  position:absolute;
  left:472px;
  top:41px;
  width:236px;
  height:216px;
  font-size:12px;
  text-align:center;
}
#u659 {
  position:absolute;
  left:2px;
  top:101px;
  width:232px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:216px;
}
#u660 {
  position:absolute;
  left:708px;
  top:41px;
  width:236px;
  height:216px;
  font-size:12px;
  text-align:center;
}
#u661 {
  position:absolute;
  left:2px;
  top:101px;
  width:232px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:216px;
}
#u662 {
  position:absolute;
  left:944px;
  top:41px;
  width:236px;
  height:216px;
  font-size:12px;
  text-align:center;
}
#u663 {
  position:absolute;
  left:2px;
  top:101px;
  width:232px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:513px;
}
#u664 {
  position:absolute;
  left:240px;
  top:436px;
  width:1180px;
  height:513px;
}
#u665 {
  position:absolute;
  left:2px;
  top:248px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u666 {
  position:absolute;
  left:588px;
  top:645px;
  width:449px;
  height:45px;
  color:#999999;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u670 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u672 {
  position:absolute;
  left:2px;
  top:22px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
}
#u673 {
  position:absolute;
  left:1337px;
  top:11px;
  width:83px;
  height:38px;
}
#u674 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u675 {
  position:absolute;
  left:1229px;
  top:18px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
}
#u677 {
  position:absolute;
  left:974px;
  top:15px;
  width:199px;
  height:31px;
}
#u678 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u679 {
  position:absolute;
  left:998px;
  top:20px;
  width:130px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u680 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:964px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u682 {
  position:absolute;
  left:0px;
  top:60px;
  width:230px;
  height:964px;
}
#u683 {
  position:absolute;
  left:2px;
  top:474px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:964px;
}
#u684 {
  position:absolute;
  left:0px;
  top:60px;
  width:230px;
  height:964px;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
}
#u685 {
  position:absolute;
  left:2px;
  top:474px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u686 {
  position:absolute;
  left:50px;
  top:95px;
  width:113px;
  height:40px;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u688 {
  position:absolute;
  left:50px;
  top:152px;
  width:113px;
  height:40px;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u690 {
  position:absolute;
  left:50px;
  top:263px;
  width:113px;
  height:40px;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u692 {
  position:absolute;
  left:77px;
  top:321px;
  width:81px;
  height:28px;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u694 {
  position:absolute;
  left:76px;
  top:358px;
  width:81px;
  height:28px;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u696 {
  position:absolute;
  left:50px;
  top:396px;
  width:113px;
  height:40px;
  font-size:28px;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u698 {
  position:absolute;
  left:77px;
  top:446px;
  width:81px;
  height:28px;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u700 {
  position:absolute;
  left:50px;
  top:208px;
  width:113px;
  height:40px;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703 {
  position:absolute;
  left:230px;
  top:60px;
  width:1210px;
  height:60px;
}
#u704 {
  position:absolute;
  left:2px;
  top:22px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
}
#u705 {
  position:absolute;
  left:251px;
  top:79px;
  width:199px;
  height:31px;
}
#u706 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
}
#u707 {
  position:absolute;
  left:460px;
  top:79px;
  width:199px;
  height:31px;
}
#u708 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u709 {
  position:absolute;
  left:484px;
  top:84px;
  width:130px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u710 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
}
#u711 {
  position:absolute;
  left:669px;
  top:79px;
  width:199px;
  height:31px;
}
#u712 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u713 {
  position:absolute;
  left:693px;
  top:84px;
  width:130px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u714 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u715 {
  position:absolute;
  left:1300px;
  top:84px;
  width:100px;
  height:25px;
}
#u715_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
}
#u716 {
  position:absolute;
  left:401px;
  top:393px;
  width:76px;
  height:34px;
  color:#00FF33;
}
#u717 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
}
#u718 {
  position:absolute;
  left:637px;
  top:393px;
  width:76px;
  height:34px;
  color:#00FF33;
}
#u719 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
}
#u720 {
  position:absolute;
  left:873px;
  top:393px;
  width:76px;
  height:34px;
  color:#FF0000;
}
#u721 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
}
#u722 {
  position:absolute;
  left:1109px;
  top:393px;
  width:76px;
  height:34px;
  color:#FF0000;
}
#u723 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
}
#u724 {
  position:absolute;
  left:1344px;
  top:393px;
  width:76px;
  height:34px;
  color:#FF0000;
}
#u725 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u726 {
  position:absolute;
  left:1315px;
  top:141px;
  width:45px;
  height:18px;
}
#u727 {
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u726_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u728 {
  position:absolute;
  left:1367px;
  top:141px;
  width:48px;
  height:18px;
}
#u729 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u728_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:231px;
}
#u730 {
  position:absolute;
  left:1481px;
  top:35px;
  width:669px;
  height:231px;
}
#u731 {
  position:absolute;
  left:2px;
  top:108px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:512px;
}
#u732 {
  position:absolute;
  left:240px;
  top:437px;
  width:1180px;
  height:512px;
}
#u733 {
  position:absolute;
  left:2px;
  top:248px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:29px;
}
#u734 {
  position:absolute;
  left:328px;
  top:426px;
  width:54px;
  height:29px;
}
#u735 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u736 {
  position:absolute;
  left:1285px;
  top:129px;
  width:30px;
  height:30px;
  opacity:0.699999988079071;
  color:#000000;
}
#u737 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u738 {
  position:absolute;
  left:1481px;
  top:15px;
  width:30px;
  height:30px;
  opacity:0.699999988079071;
  color:#000000;
}
#u739 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  position:absolute;
  left:1530px;
  top:8px;
  width:193px;
  height:45px;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u742 {
  position:absolute;
  left:882px;
  top:455px;
  width:30px;
  height:30px;
  opacity:0.699999988079071;
  color:#000000;
}
#u743 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u744 {
  position:absolute;
  left:1481px;
  top:350px;
  width:30px;
  height:30px;
  opacity:0.699999988079071;
  color:#000000;
}
#u745 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  position:absolute;
  left:1530px;
  top:343px;
  width:225px;
  height:45px;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:1530px;
  top:416px;
  width:577px;
  height:94px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u750 {
  position:absolute;
  left:435px;
  top:373px;
  width:30px;
  height:30px;
  opacity:0.699999988079071;
  color:#000000;
}
#u751 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u752 {
  position:absolute;
  left:1481px;
  top:574px;
  width:30px;
  height:30px;
  opacity:0.699999988079071;
  color:#000000;
}
#u753 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u754 {
  position:absolute;
  left:1530px;
  top:567px;
  width:97px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u755 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u756 {
  position:absolute;
  left:1530px;
  top:638px;
  width:1225px;
  height:276px;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  word-wrap:break-word;
}
