body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:976px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:540px;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:540px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:262px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
