body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1778 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u1779 {
  position:absolute;
  left:2px;
  top:504px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1781 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u1782 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u1783 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u1784 {
  position:absolute;
  left:2px;
  top:22px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1785 {
  position:absolute;
  left:116px;
  top:97px;
  width:244px;
  height:45px;
  color:#999999;
}
#u1786 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u1787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u1787 {
  position:absolute;
  left:64px;
  top:92px;
  width:42px;
  height:50px;
}
#u1788 {
  position:absolute;
  left:2px;
  top:17px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1319px;
  height:5px;
}
#u1789 {
  position:absolute;
  left:62px;
  top:152px;
  width:1316px;
  height:2px;
}
#u1790 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1791 {
  position:absolute;
  left:64px;
  top:190px;
  width:1319px;
  height:313px;
}
#u1792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1792 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
  font-size:28px;
  text-align:left;
}
#u1793 {
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1794 {
  position:absolute;
  left:234px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1795 {
  position:absolute;
  left:2px;
  top:14px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1796 {
  position:absolute;
  left:0px;
  top:44px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1797 {
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1798 {
  position:absolute;
  left:234px;
  top:44px;
  width:1080px;
  height:44px;
}
#u1799 {
  position:absolute;
  left:2px;
  top:14px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1800 {
  position:absolute;
  left:0px;
  top:88px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1801 {
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1802 {
  position:absolute;
  left:234px;
  top:88px;
  width:1080px;
  height:44px;
}
#u1803 {
  position:absolute;
  left:2px;
  top:14px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1804 {
  position:absolute;
  left:0px;
  top:132px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1805 {
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1806 {
  position:absolute;
  left:234px;
  top:132px;
  width:1080px;
  height:44px;
}
#u1807 {
  position:absolute;
  left:2px;
  top:14px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1808 {
  position:absolute;
  left:0px;
  top:176px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1809 {
  position:absolute;
  left:2px;
  top:14px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1810 {
  position:absolute;
  left:234px;
  top:176px;
  width:1080px;
  height:44px;
}
#u1811 {
  position:absolute;
  left:2px;
  top:14px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1812 {
  position:absolute;
  left:0px;
  top:220px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1813 {
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1814 {
  position:absolute;
  left:234px;
  top:220px;
  width:1080px;
  height:44px;
}
#u1815 {
  position:absolute;
  left:2px;
  top:14px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1816 {
  position:absolute;
  left:0px;
  top:264px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1817 {
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1818 {
  position:absolute;
  left:234px;
  top:264px;
  width:1080px;
  height:44px;
}
#u1819 {
  position:absolute;
  left:2px;
  top:14px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1820 {
  position:absolute;
  left:310px;
  top:196px;
  width:300px;
  height:34px;
}
#u1820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1821 {
  position:absolute;
  left:310px;
  top:238px;
  width:300px;
  height:34px;
}
#u1821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1822 {
  position:absolute;
  left:310px;
  top:282px;
  width:300px;
  height:34px;
}
#u1822_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1823 {
  position:absolute;
  left:310px;
  top:333px;
  width:100px;
  height:18px;
}
#u1824 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1823_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1825 {
  position:absolute;
  left:310px;
  top:463px;
  width:100px;
  height:18px;
}
#u1826 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1825_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1827 {
  position:absolute;
  left:376px;
  top:463px;
  width:100px;
  height:18px;
}
#u1828 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1827_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1829 {
  position:absolute;
  left:462px;
  top:463px;
  width:100px;
  height:18px;
}
#u1830 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1829_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1831 {
  position:absolute;
  left:547px;
  top:463px;
  width:100px;
  height:18px;
}
#u1832 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1831_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1833 {
  position:absolute;
  left:310px;
  top:423px;
  width:100px;
  height:18px;
}
#u1834 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1833_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1835 {
  position:absolute;
  left:376px;
  top:423px;
  width:100px;
  height:18px;
}
#u1836 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1835_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1837 {
  position:absolute;
  left:462px;
  top:423px;
  width:100px;
  height:18px;
}
#u1838 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1837_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1839 {
  position:absolute;
  left:547px;
  top:423px;
  width:100px;
  height:18px;
}
#u1840 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1839_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1841 {
  position:absolute;
  left:632px;
  top:423px;
  width:100px;
  height:18px;
}
#u1842 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1841_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1843 {
  position:absolute;
  left:720px;
  top:423px;
  width:100px;
  height:18px;
}
#u1844 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1843_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1845_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1319px;
  height:5px;
}
#u1845 {
  position:absolute;
  left:62px;
  top:566px;
  width:1316px;
  height:2px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1847 {
  position:absolute;
  left:1238px;
  top:942px;
  width:140px;
  height:40px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1849 {
  position:absolute;
  left:628px;
  top:201px;
  width:422px;
  height:25px;
  color:#FF0000;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  white-space:nowrap;
}
#u1851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1851 {
  position:absolute;
  left:628px;
  top:242px;
  width:386px;
  height:25px;
  color:#FF0000;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  white-space:nowrap;
}
