body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:97px;
  width:244px;
  height:45px;
  color:#999999;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:92px;
  width:42px;
  height:50px;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1319px;
  height:5px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:152px;
  width:1316px;
  height:2px;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:190px;
  width:1314px;
  height:308px;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
  font-size:28px;
  text-align:left;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:0px;
  width:1080px;
  height:44px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:44px;
  width:1080px;
  height:44px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:88px;
  width:1080px;
  height:44px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:132px;
  width:1080px;
  height:44px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:176px;
  width:1080px;
  height:44px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:220px;
  width:1080px;
  height:44px;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:264px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:264px;
  width:1080px;
  height:44px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:196px;
  width:300px;
  height:34px;
}
#u971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:238px;
  width:300px;
  height:34px;
}
#u972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:282px;
  width:300px;
  height:34px;
}
#u973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:333px;
  width:100px;
  height:18px;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u974_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:463px;
  width:100px;
  height:18px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u975_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:463px;
  width:100px;
  height:18px;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u976_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:463px;
  width:100px;
  height:18px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u977_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:463px;
  width:100px;
  height:18px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u978_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:423px;
  width:100px;
  height:18px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u979_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:423px;
  width:100px;
  height:18px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u980_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:423px;
  width:100px;
  height:18px;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u981_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:423px;
  width:100px;
  height:18px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u982_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:423px;
  width:100px;
  height:18px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u983_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:423px;
  width:100px;
  height:18px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u984_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1319px;
  height:5px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:566px;
  width:1316px;
  height:2px;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:942px;
  width:140px;
  height:40px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:201px;
  width:422px;
  height:25px;
  color:#FF0000;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  white-space:nowrap;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:242px;
  width:386px;
  height:25px;
  color:#FF0000;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  white-space:nowrap;
}
