body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:11px;
  width:83px;
  height:38px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:18px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:964px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:230px;
  height:964px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:964px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:230px;
  height:964px;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:95px;
  width:113px;
  height:40px;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:152px;
  width:113px;
  height:40px;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:210px;
  width:113px;
  height:40px;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:268px;
  width:81px;
  height:28px;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:60px;
  width:1210px;
  height:60px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:79px;
  width:199px;
  height:31px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:79px;
  width:199px;
  height:31px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:84px;
  width:130px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:79px;
  width:199px;
  height:31px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:84px;
  width:130px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:84px;
  width:100px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:130px;
  width:1180px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:1176px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:170px;
  width:1180px;
  height:257px;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:0px;
  width:236px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:0px;
  width:236px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:0px;
  width:236px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:0px;
  width:236px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:216px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:236px;
  height:216px;
  font-size:14px;
  text-align:center;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:232px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:216px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:41px;
  width:236px;
  height:216px;
  font-size:14px;
  text-align:center;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:232px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:216px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:41px;
  width:236px;
  height:216px;
  font-size:14px;
  text-align:center;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:232px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:216px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:41px;
  width:236px;
  height:216px;
  font-size:14px;
  text-align:center;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:232px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:216px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:41px;
  width:236px;
  height:216px;
  font-size:14px;
  text-align:center;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:232px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:513px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:436px;
  width:1180px;
  height:513px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:645px;
  width:483px;
  height:45px;
  color:#999999;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  white-space:nowrap;
}
