body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:11px;
  width:83px;
  height:38px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:18px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:964px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:230px;
  height:964px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:964px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:230px;
  height:964px;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:95px;
  width:113px;
  height:40px;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:152px;
  width:113px;
  height:40px;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:210px;
  width:113px;
  height:40px;
  font-family:'AlBayan-Bold', 'Al Bayan Bold', 'Al Bayan Plain', 'Al Bayan';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:268px;
  width:81px;
  height:28px;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:60px;
  width:1210px;
  height:80px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:79px;
  width:199px;
  height:31px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:79px;
  width:199px;
  height:31px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:84px;
  width:130px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:79px;
  width:199px;
  height:31px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:84px;
  width:130px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:84px;
  width:100px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:36px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:78px;
  width:401px;
  height:36px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:150px;
  width:1180px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:1176px;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:190px;
  width:1180px;
  height:259px;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:0px;
  width:84px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:48px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:0px;
  width:84px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:48px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:0px;
  width:88px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:48px;
  width:84px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:43px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:48px;
  width:88px;
  height:43px;
  font-size:14px;
  text-align:center;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:91px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:42px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:91px;
  width:88px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:133px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:42px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:133px;
  width:88px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:175px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:42px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:175px;
  width:88px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:217px;
  width:84px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:42px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:217px;
  width:88px;
  height:42px;
  font-size:14px;
  text-align:center;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:162px;
  width:45px;
  height:18px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u169_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:162px;
  width:35px;
  height:18px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u170_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:162px;
  width:40px;
  height:18px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u171_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:26px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:157px;
  width:52px;
  height:26px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
