body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:981px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:552px;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:552px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:268px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
