body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:97px;
  width:244px;
  height:45px;
  color:#999999;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:92px;
  width:42px;
  height:50px;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1319px;
  height:5px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:152px;
  width:1316px;
  height:2px;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:190px;
  width:1314px;
  height:308px;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
  font-size:28px;
  text-align:left;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:0px;
  width:1080px;
  height:44px;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:44px;
  width:1080px;
  height:44px;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:88px;
  width:1080px;
  height:44px;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:132px;
  width:1080px;
  height:44px;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:176px;
  width:1080px;
  height:44px;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:220px;
  width:1080px;
  height:44px;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:264px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:264px;
  width:1080px;
  height:44px;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:196px;
  width:300px;
  height:34px;
}
#u930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:238px;
  width:300px;
  height:34px;
}
#u931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:282px;
  width:300px;
  height:34px;
}
#u932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:333px;
  width:100px;
  height:18px;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u933_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:463px;
  width:100px;
  height:18px;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u934_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:463px;
  width:100px;
  height:18px;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u935_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:463px;
  width:100px;
  height:18px;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u936_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:463px;
  width:100px;
  height:18px;
}
#u937_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u937_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:423px;
  width:100px;
  height:18px;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u938_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:423px;
  width:100px;
  height:18px;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u939_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:423px;
  width:100px;
  height:18px;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u940_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:423px;
  width:100px;
  height:18px;
}
#u941_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u941_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:423px;
  width:100px;
  height:18px;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u942_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:423px;
  width:100px;
  height:18px;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u943_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1319px;
  height:5px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:566px;
  width:1316px;
  height:2px;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:942px;
  width:140px;
  height:40px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:942px;
  width:140px;
  height:40px;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:201px;
  width:422px;
  height:25px;
  color:#FF0000;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  white-space:nowrap;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:242px;
  width:386px;
  height:25px;
  color:#FF0000;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  white-space:nowrap;
}
