body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:97px;
  width:244px;
  height:45px;
  color:#999999;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:92px;
  width:42px;
  height:50px;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1319px;
  height:5px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:152px;
  width:1316px;
  height:2px;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:190px;
  width:1314px;
  height:308px;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
  font-size:28px;
  text-align:left;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:44px;
  width:1080px;
  height:44px;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:88px;
  width:1080px;
  height:44px;
}
#u1702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:132px;
  width:1080px;
  height:44px;
}
#u1704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:176px;
  width:1080px;
  height:44px;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:220px;
  width:1080px;
  height:44px;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:264px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u1710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:264px;
  width:1080px;
  height:44px;
}
#u1710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:196px;
  width:300px;
  height:34px;
}
#u1711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:238px;
  width:300px;
  height:34px;
}
#u1712_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:282px;
  width:300px;
  height:34px;
}
#u1713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:333px;
  width:100px;
  height:18px;
}
#u1714_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1714_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:463px;
  width:100px;
  height:18px;
}
#u1715_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1715_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:463px;
  width:100px;
  height:18px;
}
#u1716_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1716_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:463px;
  width:100px;
  height:18px;
}
#u1717_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1717_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:463px;
  width:100px;
  height:18px;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1718_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:423px;
  width:100px;
  height:18px;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1719_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:423px;
  width:100px;
  height:18px;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1720_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:423px;
  width:100px;
  height:18px;
}
#u1721_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1721_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:423px;
  width:100px;
  height:18px;
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1722_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:423px;
  width:100px;
  height:18px;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1723_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:423px;
  width:100px;
  height:18px;
}
#u1724_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1724_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1725_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1319px;
  height:5px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:566px;
  width:1316px;
  height:2px;
}
#u1725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:942px;
  width:140px;
  height:40px;
}
#u1726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:942px;
  width:140px;
  height:40px;
}
#u1727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:201px;
  width:422px;
  height:25px;
  color:#FF0000;
}
#u1728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  white-space:nowrap;
}
#u1729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:242px;
  width:386px;
  height:25px;
  color:#FF0000;
}
#u1729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  white-space:nowrap;
}
